@font-face {
    font-family: 'BMWTALG';
    src:
        url('BMWTALG.woff2') format('woff2'),
        url('BMWTALG.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'BMWTARG';
    src:
        url('BMWTARG.woff2') format('woff2'),
        url('BMWTARG.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'MIARRG';
    src:
        url('miarrg.woff2') format('woff2'),
        url('miarrg.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'MIARBD';
    src:
        url('miarbd.woff2') format('woff2'),
        url('miarbd.woff') format('woff');
    font-weight: 700;
}

.modal {
    font-family: -apple-system, SF UI Text, Roboto, sans-serif;
}
